<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-light navbar-white">
  <div class="container">
    <a href="home" class="navbar-brand">
      <img src="assets/img/gr.PNG" alt="Image de la Marque" class="brand-image brand-image-small">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item d-none d-sm-inline-block">
        <a routerLink="/home" class="nav-link">Accueil</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Aide
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">FAQ</a>
          <a class="dropdown-item" href="#">Support</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Contact</a>
        </div>
      </li>
    </ul>
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Rechercher" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fas fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <div class="media">
              <img src="assets/img/gr.PNG" alt="Avatar Utilisateur" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Appelez-moi dès que vous pouvez...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> Il y a 4 heures</p>
              </div>
            </div>
          </a>
          <a href="#" class="dropdown-item dropdown-footer">Voir tous les messages</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 nouveaux messages
            <span class="float-right text-muted text-sm">3 minutes</span>
          </a>
          <a href="#" class="dropdown-item dropdown-footer">Voir toutes les notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- Sidebar -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/img/gr2.png" class="img-circle elevation-2" alt="Image Utilisateur">
      </div>
      <div class="info">
        <a href="#" class="d-block">Nom Utilisateur</a>
      </div>
    </div>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Tableau de Bord</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/actifs" class="nav-link">
            <i class="nav-icon fas fa-cogs"></i>
            <p>Les Actifs</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/threats" class="nav-link">
            <i class="nav-icon fas fa-exclamation-triangle"></i>
            <p>Les Menaces</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/security-measures" class="nav-link">
            <i class="nav-icon fas fa-shield-alt"></i>
            <p>Les Mesures de Sécurité</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/risk-treatment" class="nav-link">
            <i class="nav-icon fas fa-tasks"></i>
            <p>Les Risques</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/vulnerabilities" class="nav-link">
            <i class="nav-icon fas fa-bug"></i>
            <p>Les Vulnérabilités</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>


<!-- Content will be dynamically injected here -->
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>

<!-- Include JavaScript files -->
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="./node_modules/admin-lte/dist/js/adminlte.min.js"></script>
